*{
    box-sizing: border-box;
}
body {
    place-items: center;
    margin: 0;
    height: 100%;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    background-color: #F0F8FF;
}

h1 {
    text-transform: uppercase;
    font-size: 80px;
    color: #0474BA;
    padding-block-end: 30px;
}

h1 span{
    color: #F08000;
}

table, th{
    border-collapse: collapse;
    border: solid 1px lightslategray;
}

th{
    background-color: gray;
}

th, td{
    padding: 10px;
}

tr:nth-child(even) {background-color: lightgrey;}

button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.read-btn{
    background-color: cornflowerblue;
}

.update-btn{
    background-color:khaki;
}

.delete-btn{
    background-color:orange;
}

form{
    margin: 5px;
}

.confirm-btn{
    font-size:x-small;
}

input{
    width: 300px;
}

[name="change-price"]{
    width: 50px;
}

.add-btn{
    margin-top: 30px;
    background-color: cornflowerblue;
    width: fit-content;
}

.add-form{
    margin-top: 10px;
}

.confirm-add-btn{
    margin-top: 10px;
    background-color: orange;
}

.hide{
    display: none;
}

.backdrop {
    display: grid;
    place-items: center;

    background-color: rgb(177, 177, 177, .6);

    opacity: 0;
    transition: opacity .8s ease-out;

    position:fixed;
    inset: 0;

    z-index: -2;
}

.add-book-bdrop{
    z-index: -3;
}

.modal {
    position: relative;

    padding: 1em;
    width: fit-content;
    height: fit-content;

    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(173 173 173);

    opacity: 0;
    transition: opacity .8s ease-out;    
}
    
.sucess{
    z-index: -1;
}

.modal .btn-close {
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 6px rgb(173 173 173);
    border-radius: 50%;

    cursor: pointer;

    width: fit-content;
    height: fit-content;

    justify-self: end;

    position: absolute;
    top: -10px;
    right: -10px;
}

img{
    width: 260px;
    height: 260px;
}